html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: 'Poppins';
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    margin: 4em;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 4.1em;
    margin: 0;
}

ul li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 1.6rem;
    position: relative;
}

nav ul li a.active:before {
position: absolute;
content: "";
width: 35%;
height: 1px;
border-bottom: 2px solid black;
bottom: -6px;
}

/* Hero Section */

main {
    display: flex;
    gap: 8em;
    margin-top: 11em;
}

.left-col {
    width: 45%;
    
}

.rigth-col {
    flex-grow: 1;
}

h1 {
    font-size: 5.2rem;
    font-family: 'Playfair Display';
    font-weight: normal;
    margin: 0;
}

.subhead {
    font-size: 1.8rem;
}

.cta-btns {
    margin: 5em 0;
}

.cta-btns, .secondary-cta {
    display: flex;
    gap: 2em;
}

.primary-cta {
    background-color: #f1e2d1;
    font-size: 1.8rem;
    font-weight: bold;
    color: black;
    text-decoration: none;
    border-radius: 1.9em;
    padding: 1em 2em;
}
    

.secondary-cta {
    font-size: 1.8rem;
    text-decoration: none;
    margin: 0;
    color: black;
    display: block;
    padding: 1em 0;
    align-items: center;
}

.secondary-cta svg {
    width: 20px;
}

.news {
    display: flex;
    gap: 3em;
    padding: 5em;
    border: 1px solid black;
    border-radius: 1em;
    position: relative;
}

.news:before {
    position: absolute;
    content: "";
    background: url('/Images/confetti.svg');
    width: 100px;
    height: 100px;
    top: -20px;
    left: -20px;
    z-index: -1;
}

p.employees {
    font-size: 3.3rem;
    margin: 0;
    font-weight: 200;
    line-height: 100%;
}

p.details {
    font-size: 1.4rem;
    margin: 0;
}

/*rigth column gallary */

.rigth-col {
    display: grid;
    gap: 2.3em;
    grid-template-columns: repeat(2, auto);
    grid-template-areas: 
        "left ."
        "left bottom"
}

.card {
    border-radius: .8em;
    padding: 1.1em;
    display: flex;
    align-items: end;
}

.card1 {
    grid-area: left;
}