@media screen and (max-width:600px) {
.coluna{
    width: 100%; 
    display: block; 
    margin-bottom: 20px;}
}
@media only screen and (min-width:600px){
    .col-1  {width: 8.33%;}
    .col-2  {width: 16.66%;}
    .col-3  {width: 25%;}
    .col-4  {width: 33.33%;}
    .col-5  {width: 41.66%;}
    .col-6  {width: 50%;}
    .col-7  {width: 58.33%;}
    .col-8  {width: 66.66%;}
    .col-9  {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

@media only screen and (max-width:600px){
    .col-s-1  {width: 8.33%;}
    .col-s-2  {width: 16.66%;}
    .col-s-3  {width: 25%;}
    .col-s-4  {width: 33.33%;}
    .col-s-5  {width: 41.66%;}
    .col-s-6  {width: 50%;}
    .col-s-7  {width: 58.33%;}
    .col-s-8  {width: 66.66%;}
    .col-s-9  {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}

[class*="col-"]{
    float: left;
    padding: 0px;
}

[class*="col-s-"]{
    float: left;
    padding: 0px;
}

/*.card {
    width: 100%;
}*/

.card-theme{
    text-align: center;
    /*padding: 10px;*/

}

.cartoes{
    background-color: gray;
    padding: 5%;
    border-radius: 15px;
    margin: 5px;
}

.cartoes h1{
    font-size: large;
    padding: 0;
}

.cartoes p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    
    
}
.prova{
    display: block; margin: 0 auto;
}
li a {
    display: block;
    color: rgb(27, 27, 27);
    padding: 8px;
    text-decoration: none;
    overflow: hidden;
}
li{
 float: left;
 display: block;
 }
.menu-principal{
    display: flex;
}

li a:hover {
    background-color: rgb(124, 207, 240);
}
.active{
    background-color: rgb(75, 146, 146);
    color: aliceblue;
}
.center{
    display: flex;
    justify-content: center;
    padding-top: 10%;
    padding-bottom: 10%;
}
.middle{
    display: block;
    padding-top: 10%;
    padding-bottom: 10%;
    border: solid saddlebrown;
    text-align: center;

}
.row{
    border: solid green;
}
-------------------------------
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Float four columns side by side */
  .coluna {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .rows {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .rows:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .coluna {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .bloco {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }